<% layout("layout") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<div class="top">
  <button class="left" id="chart_show">bat</button>
  <div class="left col3">
    <button class="col10" id="node_select">plz select node</button>
    <ul id="ul_node_select" class="center bg_lightgray hiddenAni">
      <li class="paddingtop02 bg_white_hover paddingbottom02">
        test
      </li>
    </ul>
  </div>

</div>



<div id="char_container">
  <canvas id="" height="30vh"></canvas>
  <canvas id="" height="30vh"></canvas>
</div>

<script>

</script>