<% layout("layout") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<button id="chart_show">show</button>

<div id="char_container">
  <canvas id="" width="400" height="200"></canvas>
</div>

<script>

</script>