<% layout("layout") %>

<div class="parent_of_center">
    <form action="" method="get">
        <table class="center" id="create_node_table">
            <tbody>
                <tr>
                    <td>
                        id:
                    </td>
                    <td>
                        <input type="text" name="id">
                    </td>
                </tr>
                <tr>
                    <td>
                        ip:
                    </td>
                    <td>
                        <input type="text" name="ip">
                    </td>
                </tr>
                <tr>
                    <td>
                        port:
                    </td>
                    <td>
                        <input type="text" name="port">
                    </td>
                </tr>
                <tr>
                    <td>
                        name:
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        description:
                    </td>
                    <td>
                        <input type="text" name="description">
                    </td>
                </tr>  
            </tbody>
        </table>
        <input type="submit">
    </form>
</div>

