<% layout("layout") %>

<div class="parent_of_center">
    <form action="create_node" method="post">
        <table class="center" id="create_node_table">
            <tbody>
                <tr>
                    <td>
                        id:
                    </td>
                    <td>
                        <input type="text" name="id" required pattern="\d+" oninput = "value=value.replace(/[^\d]/g,'')">
                    </td>
                </tr>
                <tr>
                    <td>
                        ip:
                    </td>
                    <td>
                        <input type="text" name="ip" required pattern='\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.|$)){4}\b'>
                        <!--表達式來源-->
                        <!--https://stackoverflow.com/questions/5284147/validating-ipv4-addresses-with-regexp-->
                    </td>
                </tr>
                <tr>
                    <td>
                        port:
                    </td>
                    <td>
                        <input type="text" name="port" required="\d+" oninput = "value=value.replace(/[^\d]/g,'')">
                    </td>
                </tr>
                <tr>
                    <td>
                        name:
                    </td>
                    <td>
                        <input type="text" name="name" required pattern='[^"]+' oninput = 'value=value.replace(/\"/g,"")'>
                    </td>
                </tr>
                <tr>
                    <td>
                        description:
                    </td>
                    <td>
                        <input type="text" name="description" pattern='[^"]+' oninput = 'value=value.replace(/\"/g,"")'>
                    </td>
                </tr>  
            </tbody>
        </table>
        <input type="submit">
    </form>
</div>

