<% layout("layout") %>

<div class="top" style="width: 100%;">
	<button id="create_node">create node</button>
</div>


<%-partial("./partial/Drone_Block.ejs")%>
<test></test>

<!--
<div class="Drone_Block">
	<div class="top">
		<div class="left">
			<div class="top parent_of_center">
				<img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
			</div>
			<div class="top">
				<p>id:5</p>
			</div>
			<div class="top">
				<p>description:</p>
				<p>image collector</p>
			</div>
		</div>
		<div class="right">
			<p>ip:192.168.136.87</p>
			<p>port:5000</p>
			<p>name: CCIT77</p>
		</div>
	</div>
	<div class="top">
		<form action="">
			<input type="text" name="Drone_Block_Input">
			<input type="submit">
		</form>
		<form action="">
			<input type="submit" value="show log">
		</form>
		<form action="">
			<input type="submit" value="detail info">
		</form>
		<form action="">
			<input type="submit" value="pause">
		</form>
	</div>
</div>
<div class="Drone_Block">
	<div class="top">
		<div class="left">
			<div class="top parent_of_center">
				<img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
			</div>
			<div class="top">
				<p>id:6</p>
			</div>
			<div class="top">
				<p>description:</p>
				<p>image collector</p>
			</div>
		</div>
		<div class="right">
			<p>ip:192.168.136.88</p>
			<p>port:5000</p>
			<p>name: CCIT78</p>
		</div>
	</div>
	<div class="top">
		<form action="">
			<input type="text" name="Drone_Block_Input">
			<input type="submit">
		</form>
		<form action="">
			<input type="submit" value="show log">
		</form>
		<form action="">
			<input type="submit" value="detail info">
		</form>
		<form action="">
			<input type="submit" value="pause">
		</form>
	</div>
</div>
<div class="Drone_Block">
	<div class="top">
		<div class="left">
			<div class="top parent_of_center">
				<img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
			</div>
			<div class="top">
				<p>id:7</p>
			</div>
			<div class="top">
				<p>description:</p>
				<p>image collector</p>
			</div>
		</div>
		<div class="right">
			<p>ip:192.168.136.89</p>
			<p>port:5000</p>
			<p>name: CCIT79</p>
		</div>
	</div>
	<div class="top">
		<form action="">
			<input type="text" name="Drone_Block_Input">
			<input type="submit">
		</form>
		<form action="">
			<input type="submit" value="show log">
		</form>
		<form action="">
			<input type="submit" value="detail info">
		</form>
		<form action="">
			<input type="submit" value="pause">
		</form>
	</div>
</div>
<div class="Drone_Block">
	<div class="top">
		<div class="left">
			<div class="top parent_of_center">
				<img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
			</div>
			<div class="top">
				<p>id:8</p>
			</div>
			<div class="top">
				<p>description:</p>
				<p>image collector</p>
			</div>
		</div>
		<div class="right">
			<p>ip:192.168.136.90</p>
			<p>port:5000</p>
			<p>name: CCIT80</p>
		</div>
	</div>
	<div class="top">
		<form action="">
			<input type="text" name="Drone_Block_Input">
			<input type="submit">
		</form>
		<form action="">
			<input type="submit" value="show log">
		</form>
		<form action="">
			<input type="submit" value="detail info">
		</form>
		<form action="">
			<input type="submit" value="pause">
		</form>
	</div>
</div>
<div class="Drone_Block">
	<div class="top">
		<div class="left">
			<div class="top parent_of_center">
				<img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
			</div>
			<div class="top">
				<p>id:9</p>
			</div>
			<div class="top">
				<p>description:</p>
				<p>image collector</p>
			</div>
		</div>
		<div class="right">
			<p>ip:192.168.136.91</p>
			<p>port:5000</p>
			<p>name: CCIT81</p>
		</div>
	</div>
	<div class="top">
		<form action="">
			<input type="text" name="Drone_Block_Input">
			<input type="submit">
		</form>
		<form action="">
			<input type="submit" value="show log">
		</form>
		<form action="">
			<input type="submit" value="detail info">
		</form>
		<form action="">
			<input type="submit" value="pause">
		</form>
	</div>
</div>
-->

