<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/color.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body class="parent_of_center" style="background-color: unset;">
    <div>
        <div style="text-align: center;margin-bottom: 2rem;">
            <p>login</p>
        </div>
       
        <form id="loginForm" action="" method="POST" class="primeStyleBorder">
            <p>
                Account
            </p>
            <input name="account" type="text">
            <p>
                Password
            </p>
            <input name = "password" type="password">
            <br>
            <button>submit</button>
        </form>   
            
    </div>
</body>
</html>