<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/color.css">
    <!--<link rel="stylesheet" href="/static/css/style.css">-->
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body id="login" class="parent_of_center">
    <div>
        <form id="loginForm" action="" method="POST" class="primeStyleBorder">
            <div class="mid">
                <p>Login</p>
            </div>
            <label>
                Username
            </label>
            <input name="username" placeholder="username" type="text">
            <label>
                Password
            </label>
            <input name = "password" placeholder="password" type="password">
            <br>
            <button>login</button>
        </form>   
            
    </div>
</body>
</html>