:root{
    --drone-primary-color-1: #00b4d8;
    --drone-primary-color-2: #000000;
    --drone-primary-color-3: #f3b50a;
    --drone-primary-color-4: #ffd561;
    --drone-primary-color-4-hover: #f8f871;
    --drone-primary-color-5: #ffdd1b;
    --drone-primary-color-6: #ffffff;
    --drone-primary-color-6-hover: #bababa;
    --drone-title-color-1: #ffd561;
    --drone-navbar-color-1: #f3b50a;
    --drone-navbar-color-1-hover: #ffd561;
    --drone-navbar-color-2: #a47a06;
    --drone-background-color-1: #ffffff;
    --drone-font-color-1: #ffffff;
    --drone-font-color-2: #000000;
    --drone-status-error-1: #ff0000;
}